// COLORS
$white: #fff;
$grey: #ccd;
$light-grey: rgba(210,210,210,.4);
$black: #000;
$green: rgba(0,255,0,.5);
$light-green: rgba(0,255,0,.2);

$text-color: $black;
$background-color: $white;
$quote-color: $light-green;
$quote-hover-color: $green;
$shadow-color: $light-grey;
$button-color: $grey;

//FONTS
$sans-serif: Arial, sans-serif;

$paragraph-font: $sans-serif;
