* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper {
    margin: 1vw auto;
    padding: 0 30%;

    form {
        display: flex;
        flex-direction: column;
        input {
            margin-bottom: 20px;
        }
    }

    fieldset {
        border: 0;
  }
}
