@import "base/_variables.scss";

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;

    body {
        min-height: 100vh;
        color: $text-color;
        background: $background-color;
        font-family: Arial, sans-serif;
        min-width: 320px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;

            .vsreact {
                padding: 50px;
                width: 60%;
                max-width: 804px;

                h1 {
                    margin: 0 0 20px;
                    font-size: 40px;
                    text-align: center;
                }

                img {
                    display: block;
                    margin-bottom: 20px;
                    max-width: 100%;
                    cursor: zoom-in;
                    user-select: none;
                    -moz-user-select: none;
                }

                p {
                    margin-bottom: 20px;
                    text-align: justify;

                    span {
                        background: $quote-color;
                    }

                    span:hover {
                        background: $quote-hover-color;
                    }
                }

                a {
                    color: $text-color;
                    font-style: italic;
                    text-align: right;
                    text-decoration: none;
                }

                img:hover,
                a:hover {
                    box-shadow: 1px 1px 4px 0 $text-color;
                }

                img:active {
                    position: fixed;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: auto;
                    height: auto;
                    max-width: 99%;
                    max-height: 99%;
                    margin: auto;
                    box-shadow: 0 0 20px $text-color, 0 0 0 100vw $shadow-color;
                    cursor: zoom-out;
                }
            }

            .registration-form {
                max-width: 420px;
                width: 40%;

                h2 {
                    margin: 0 0 20px;
                    font-size: 36px;
                    text-align: center;
                }

                form {
                    input[type="email"],
                    input[type="text"] {
                        display: block;
                        margin-bottom: 20px;
                        padding: 0.75em 0.7em;
                        font-size: 20px;
                        line-height: 24px;
                        outline: 0;
                        box-sizing: border-box;
                        border: 1px solid $text-color;
                        width: 100%;
                        -webkit-appearance: none;
                        -webkit-border-radius: 0;
                    }

                    input[type="submit"] {
                        display: block;
                        box-sizing: border-box;
                        padding: 0.75em 0.7em;
                        background: $button-color;
                        border: 1px solid $text-color;
                        font-size: 20px;
                        line-height: 24px;
                        width: 100%;
                        cursor: pointer;
                        -webkit-appearance: none;
                        -webkit-border-radius: 0;
                    }

                    input:hover {
                        box-shadow: 1px 1px 4px 0 $text-color;
                    }
                }
            }
        }
    }
}
